input {
  azureblob {
    tags => ["azure-agw-firewall"]
    storage_account_name => "{{ item.sa_name }}"
    storage_access_key => "{{ item.sa_access_key }}"
    container => "{{ item.sa_container }}"
    codec => "json"
  }
}

filter {
  if "azure-agw-firewall" in[tags]{
    fingerprint {
      target => "[@metadata][uuid]"
      method => "UUID"
    }
    geoip {
      source => "[properties][clientIp]"
      target => "geoip"
      database => "/etc/logstash/GeoLite2-City.mmdb"
    }
    date {
      match => ["unixtimestamp", "UNIX"]
    }
  }
}

output {
  stdout {
    codec => rubydebug
  }
  if "azure-agw-firewall" in[tags]{
    elasticsearch {
      hosts => ['{{ logstash_elastic_hosts | list | join(":" + logstash_elastic_port + "', '") }}:{{ logstash_elastic_port }}']
      ssl_certificate_verification => false
      ssl => {% if logstash_elastic_stack_auth | bool and logstash_elastic_stack_https | bool %}true{% else %}false{% endif %}

      user => "{{ logstash_elastic_stack_user }}"
      password => "{{ logstash_elastic_stack_pass }}"
      index => "azure-agw-firewall-%{+YYYY.MM.dd}"
{% if logstash_version.split('.')[0] != '5' %}
      ilm_enabled => true
{% endif %}
      template => "/etc/logstash/template/elastic-azure-agw-firewall-template.json"
      template_name => "azure-agw-firewall"
      template_overwrite => true
      document_type => "_doc"
      document_id => "%{[@metadata][uuid]}"
    }
  }
}