input {
  {{ item.protocol }} {
    port => {{ item.port }}
    tags => ["nginx-json"]
  }
}

filter {
  if "nginx-json" in[tags]{
    json {
      source =>"message"
      remove_field => ["message"]
    }
    geoip {
      source => "remote_addr"
      target => "geoip"
      database => "/etc/logstash/GeoLite2-City.mmdb"
    }
    fingerprint {
      target => "[@metadata][uuid]"
      method => "UUID"
    }
  }
}

output {
  if "nginx-json" in[tags]{
    elasticsearch {
      hosts => ['{{ logstash_elastic_hosts | list | join(":" + logstash_elastic_port + "', '") }}:{{ logstash_elastic_port }}']
      ssl_certificate_verification => false
      ssl => {% if logstash_elastic_stack_auth | bool and logstash_elastic_stack_https | bool %}true{% else %}false{% endif %}

      user => "{{ logstash_elastic_stack_user }}"
      password => "{{ logstash_elastic_stack_pass }}"
      index => "nginx-json-%{+YYYY.MM.dd}"
{% if logstash_elastic_stack_version.split('.')[0] != '5' %}
      ilm_enabled => true
{% endif %}
      template => "/etc/logstash/template/elastic-nginx-json-template.json"
      template_name => "nginx-json"
      template_overwrite => true
      document_type => "_doc"
      document_id => "%{[@metadata][uuid]}"
    }
  }
}
