LOGSTASH_EXPORTER_OPTS='--logstash.endpoint="http://localhost:{{ logstash_port_arg.api }}" --log.format="logger:syslog?appname=logstash_exporter&local=7" --web.listen-address="{{ ansible_default_ipv4.address }}:{{ logstash_port_arg.exporter }}"'
